<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <div class="logo">📦 StockFlow</div>
        <a href="/login"><button>Login</button></a>
    </nav>

    <section class="hero">
        <h1>Smart Inventory Management</h1>
        <p>Manage products, suppliers and stock in one place.</p>
        <a href="/register">
    <button class="btn">Get Started</button>
</a>
    </section>

</body>
</html>